extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin ornare libero, et elementum massa convallis et. Mauris a orci sem. Praesent eget mattis urna. Suspendisse eros orci, cursus id lectus at, rhoncus tincidunt augue. Nullam ut nulla vel libero bibendum tempus. Suspendisse vitae pulvinar felis. Donec eu quam at sapien tempus auctor egestas in orci. Cras suscipit bibendum nisl, non dapibus quam tincidunt ac. Aliquam nec mi id dolor molestie porttitor cursus in mi. Sed a bibendum leo, efficitur faucibus est. Duis dapibus purus vitae quam mollis convallis.

                p Morbi non erat vitae justo fermentum tincidunt. Integer euismod vitae justo sed vehicula. Pellentesque vestibulum accumsan iaculis. Suspendisse pellentesque arcu ac dolor bibendum facilisis. Etiam vulputate, lacus ut aliquet lobortis, massa tortor vehicula diam, at accumsan nibh orci sit amet mauris. Mauris ut massa condimentum, sagittis ligula in, efficitur nibh. Nulla ac est a libero finibus vulputate. Morbi mollis ut enim et pretium. Duis quam justo, pretium id est vel, consectetur placerat purus. Curabitur vulputate rutrum ornare. Praesent vel nibh vel nisi aliquet rutrum in faucibus augue. Nulla ac nibh vel nisi sodales venenatis. Nunc tristique, neque id dapibus aliquam, erat nisi rutrum mauris, nec bibendum ipsum risus in ipsum. Ut ut nisi in dui fermentum efficitur.

                p Duis vestibulum neque et nulla elementum eleifend ut nec orci. Mauris placerat magna nibh, a sodales est efficitur non. Fusce aliquam, diam eu pulvinar convallis, dolor arcu laoreet ligula, eu laoreet purus urna placerat risus. Proin luctus aliquam sapien, eu pulvinar quam. Phasellus id nibh semper, semper mi a, venenatis nisl. Phasellus ultricies est nec imperdiet commodo. Suspendisse semper dignissim viverra.

    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Duis vestibulum neque et nulla elementum eleifend ut nec orci. Mauris placerat magna nibh, a sodales est efficitur non. Fusce aliquam, diam eu pulvinar convallis, dolor arcu laoreet ligula, eu laoreet purus urna placerat risus. Proin luctus aliquam sapien, eu pulvinar quam. Phasellus id nibh semper, semper mi a, venenatis nisl. Phasellus ultricies est nec imperdiet commodo. Suspendisse semper dignissim viverra.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores destinos 
                    p Duis vestibulum neque et nulla elementum eleifend ut nec orci. Mauris placerat magna nibh, a sodales est efficitur non. Fusce aliquam, diam eu pulvinar convallis, dolor arcu laoreet ligula, eu laoreet purus urna placerat risus. Proin luctus aliquam sapien, eu pulvinar quam. Phasellus id nibh semper, semper mi a, venenatis nisl. Phasellus ultricies est nec imperdiet commodo. Suspendisse semper dignissim viverra.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Duis vestibulum neque et nulla elementum eleifend ut nec orci. Mauris placerat magna nibh, a sodales est efficitur non. Fusce aliquam, diam eu pulvinar convallis, dolor arcu laoreet ligula, eu laoreet purus urna placerat risus. Proin luctus aliquam sapien, eu pulvinar quam. Phasellus id nibh semper, semper mi a, venenatis nisl. Phasellus ultricies est nec imperdiet commodo. Suspendisse semper dignissim viverra.
